/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "HankenGrotesk", Arial, Helvetica, sans-serif;
    background-color: #ecf2ff;
    font-size: 14px;
}

p{
    margin: 30px 0 35px 0;
}

img{
    margin-right:5px;
    vertical-align: middle;
}

/*Colori testi*/

.text_big{
    font-size: 40px;
}

.text_great{
    margin-top: 14px;
    font-size: 26px;
}

.text_grey{
    color: rgb(152, 152, 152);
}

.text_white{
    font-weight: 600;
    color: white;
}

.text_black{
    color: black;
}

.text_red{
    color: red;
}

.text_yellow{
    color: #e0b151;
}

.text_green{
    color: #51bfa0;
}

.text_blue{
    color: #1e27a6;
}

/*Bottoni e label*/

button{
    align-items: center;
    margin: 20px 0;
    padding:10px 40px ;
    border: 0px;
    border-radius: 20px;
}

.continue_bt{
    cursor: pointer;
    color: white;
    padding: 10px 78px;
    border-radius: 20px;
    margin: 20px auto;
    background-color: rgb(0, 0, 82);
}

.continue_bt:hover{
    background-color: blue;
}

.circle_bt{
    border: 0;
    border-radius: 50%;
    padding: 25px 33px;
    margin: 20px auto;
    background-color: rgba(118, 118, 254, 0.738);
}

.label{
    display: flex;
    justify-content: space-between;

    background-color: blue;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 15px auto;
}

/*Sfondo Label*/

.bg_red{
    background-color: rgba(255, 0, 0, 0.162);
}

.bg_yellow{
    background-color: rgba(187, 255, 0, 0.091);
}

.bg_green{
    background-color: rgba(7, 255, 7, 0.123);
}

.bg_blue{
    background-color: rgba(0, 0, 255, 0.138);
}

/*Card*/

.card{
    display: flex;

    width: 500px;
    border-radius: 20px;
      background-color: white;
    margin: 20vh auto;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 50%;
    padding: 20px;
}

.sx{
    background-color: blue;
    border-radius: 20px;
}

.dx{
      width: 50%;
    padding: 20px;
    border-radius: 0px 20px 20px 0;
}





